

body {
    position: relative; /* Added to act as positioning context */
  }

#collections {
    display: flex;
    width: 100%;
    margin: auto;
    margin-top: 4.4rem;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 0px 2%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    position: relative; /* Added to act as positioning context */
    overflow: hidden; /* Added to hide content overflow */
  }
#collectionbox a{
    width: 85px;
    display: flex;
    flex-direction: column;
    text-align: center;
  height:9rem;
  align-items: center;
  justify-content: center;
}
#collectionbox a img{
    width: 50px;
}
#collectionbox p{
    margin-top: 10px;
}


/* --------main ---------------------------------- */
#single_top_slide_bar{
    width: 100%;
    margin-top: 10px;
}
#single_top_slide_bar #leftbtn ,
#single_top_slide_bar #rightbtn {
position: absolute;
top: 17rem;
padding: 2rem .8rem;
cursor: pointer;

}
#single_top_slide_bar #leftbtn{
    left: 1%;
}
#single_top_slide_bar #rightbtn {
    right: 1%;
}
#single_top_slide_bar>#single_slider_top{
width: 100%;
}

/* --------------------------top mobile product slide bar------------------ */

#carosil_topMobiles {
  position: relative;
    width: 100%;
    background-color: white;
    overflow: hidden;
  } 
  #carosil_topMobiles .mainContainer {
    display: flex;
    height:auto;
    width: 2700px;
    overflow: auto;
padding: 0 0rem;
  }
  #carosil_topMobiles .mainContainer::-webkit-scrollbar{
    height: 2px; 
    opacity: 0;
  }
  
  #carosil_topMobiles .mobile_carouselImageContainer {
    padding:1rem;
    height:auto;
    width:270px;
    transition: transform 1s ease-in-out;
    flex: 0 0 auto;
    padding:.6rem;
  }
  #carosil_topMobiles .carouselHeading{
    color: var(--mainColor);
    margin: 1rem .8rem 1rem .8rem;
    font-size: x-large;
    display: flex;
    justify-content: space-between;
  }
  #carosil_topMobiles .carouselHeading #move_to_mobile_ele{
    cursor: pointer;
    margin-right: 10px;
    border-radius: 50%;
    padding: 10px;
    background-color: blue;
    color: #fff;
  }


  #carosil_topMobiles .mobile_carouselImage{
    height:60vh;
    width:100%;
    cursor: pointer;
  }
  #carosil_topMobiles .left_topmobile_btn {
    position: absolute;
    left: 2%;
    top: 40%;
    padding: 1.5rem 0.5rem;
    font-size: 1.2rem;
    opacity: 0.7;
    color: var(--mainColor);
    border: 1px solid var(--mainColor);
    border-radius: 2px;
    background-color: rgb(219, 219, 219);
    border: 1px solid red;
  }
  #carosil_topMobiles .right_topmobile_btn {
    position: absolute;
    left: 95%;
    top: 40%;
    padding: 1.5rem 0.5rem;
    font-size: 1.2rem;
    opacity: 0.7;
    border: 1px solid var(--mainColor);
    border-radius: 2px;
    color: var(--mainColor);
    background-color: rgb(195, 195, 195);
    border: 1px solid red;
  }
  #carosil_topMobiles .left_topmobile_btn:hover {
    cursor: pointer;
    opacity: 1;
    transition: 1s ease-in-out;
  }
  #carosil_topMobiles .right_topmobile_btn:hover {
    cursor: pointer;
    opacity: 1;
    transition: 1s ease-in-out;
  }
  









@media screen and (max-width:1024px) {
    #collections {
        overflow: auto; /* Changed to 'auto' to enable scrolling */
      }
      #single_top_slide_bar #leftbtn,
    #single_top_slide_bar #rightbtn {
       display: none;
    }   
}


@media screen and (max-width:768px){
    #carosil_topMobiles{
     width: 100%;
    }
    #carosil_topMobiles .right_topmoobile_btn{
      left: 92%;
    }
    
   }
  @media screen and (max-width:640px){
   #carosil_topMobiles{
    width: 100%;
   }
   #carosil_topMobiles .right_topmoobile_btn{
    left: 90%;
   }
  }


@media screen and (max-width:609px){
    #collections {
    margin-top: 6.7rem;
    }
}
/* @media screen and (max-width:1000px) {
    #collections{
        overflow-x: auto;   
    }
} */